In [1]:
import kmedoids

In [2]:
from sklearn.metrics import pairwise_distances
import numpy as np
import pandas as pd

In [3]:
# generate some random data
dataku=pd.read_csv("Dataclean.csv")
dataku

,Kabupaten/Kota,Nama Kepala Rumah Tangga,X1,X2,X3,X4,X5,X6,X7,X8,...,X26,X27,X28,X29,X30,X31,X32,X33,X34,Y
0,KOTA BANDA ACEH,WAHYU HIDAYAT,1,1,1,2,1,1,6,1,...,1,2,2,2,2,2,1,4,2,5
1,KOTA BANDA ACEH,MUCHRI,2,1,1,6,1,2,6,2,...,1,2,2,2,2,2,1,4,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,6,1,1,6,1,...,1,2,2,2,2,2,1,4,1,5
3,KOTA BANDA ACEH,EFENDI,1,1,1,6,1,1,6,1,...,1,2,2,2,2,2,1,4,1,5
4,KOTA BANDA ACEH,FARIDAHWATI,1,2,4,6,1,1,6,1,...,2,2,2,2,2,2,2,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60744,KOTA SUBULUSSALAM,DANI SAPUTERA,1,3,4,6,1,2,6,2,...,2,2,2,2,2,2,2,4,2,3
60745,KOTA SUBULUSSALAM,SULASTRI,1,1,1,6,3,2,6,2,...,2,2,2,2,2,2,1,4,1,5
60746,KOTA SUBULUSSALAM,KARDA,1,1,1,6,3,2,6,2,...,2,2,2,2,2,2,1,4,2,3
60747,KOTA SUBULUSSALAM,SUWARSONO,1,1,1,6,1,1,6,1,...,1,1,2,2,2,2,1,4,1,5
60748,KOTA SUBULUSSALAM,PURNOMO,1,5,4,6,3,2,6,2,...,2,2,2,2,2,2,1,4,2,3

In [6]:
dataku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60749 entries, 0 to 60748
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Kabupaten/Kota             60749 non-null  object
 1   Nama Kepala Rumah Tangga   60749 non-null  object
 2   X1                         60749 non-null  int64
 3   X2                         60749 non-null  int64
 4   X3                         60749 non-null  int64
 5   X4                         60749 non-null  int64
 6   X5                         60749 non-null  int64
 7   X6                         60749 non-null  int64
 8   X7                         60749 non-null  int64
 9   X8                         60749 non-null  int64
 10  X9                         60749 non-null  int64
 11  X10                        60749 non-null  int64
 12  X11                        60749 non-null  int64
 13  X12                        60749 non-null  int64
 14  X13                        60749 non-null  int64
 15  X14                        60749 non-null  int64
 16  X15                        60749 non-null  int64
 17  X16                        60749 non-null  int64
 18  X17                        60749 non-null  int64
 19  X18                        60749 non-null  int64
 20  X19                        60749 non-null  int64
 21  X20                        60749 non-null  int64
 22  X21                        60749 non-null  int64
 23  X22                        60749 non-null  int64
 24  X23                        60749 non-null  int64
 25  X24                        60749 non-null  int64
 26  X25                        60749 non-null  int64
 27  X26                        60749 non-null  int64
 28  X27                        60749 non-null  int64
 29  X28                        60749 non-null  int64
 30  X29                        60749 non-null  int64
 31  X30                        60749 non-null  int64
 32  X31                        60749 non-null  int64
 33  X32                        60749 non-null  int64
 34  X33                        60749 non-null  int64
 35  X34                        60749 non-null  int64
 36  Y                          60749 non-null  int64
dtypes: int64(35), object(2)
memory usage: 17.1+ MB

In [4]:
dataku
dataku=dataku.drop(["Kabupaten/Kota","Nama Kepala Rumah Tangga ","Y"], axis=1)
dataku

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X25,X26,X27,X28,X29,X30,X31,X32,X33,X34
0,1,1,1,2,1,1,6,1,2,2,...,2,1,2,2,2,2,2,1,4,2
1,2,1,1,6,1,2,6,2,1,2,...,1,1,2,2,2,2,2,1,4,2
2,1,1,1,6,1,1,6,1,1,2,...,2,1,2,2,2,2,2,1,4,1
3,1,1,1,6,1,1,6,1,1,2,...,2,1,2,2,2,2,2,1,4,1
4,1,2,4,6,1,1,6,1,2,3,...,2,2,2,2,2,2,2,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60744,1,3,4,6,1,2,6,2,2,7,...,2,2,2,2,2,2,2,2,4,2
60745,1,1,1,6,3,2,6,2,1,7,...,2,2,2,2,2,2,2,1,4,1
60746,1,1,1,6,3,2,6,2,2,7,...,2,2,2,2,2,2,2,1,4,2
60747,1,1,1,6,1,1,6,1,3,6,...,2,1,1,2,2,2,2,1,4,1
60748,1,5,4,6,3,2,6,2,2,7,...,2,2,2,2,2,2,2,1,4,2

In [7]:
!pip install kmedoids

Requirement already satisfied: kmedoids in c:\users\alharidt\miniconda3\lib\site-packages (0.5.0)

In [9]:
from kmedoids import KMedoids

In [11]:
k_medoids = KMedoids(n_clusters=5)
k_medoids.fit(dataku)
#plot_graphs(data, k_medoids)

PanicException: assertion `left == right` failed
  left: 60749
 right: 34

PanicException: assertion `left == right` failed
  left: 60749
 right: 34

In [ ]:
# fit the model to the data
kmedoids.fit(data)

In [ ]:
# view the cluster labels
print(kmedoids.labels_)

# view the medoids
print(kmedoids.medoids_)