* Memanggil Dataset

In [4]:
import pandas as pd
from kmodes.kmodes import KModes
import numpy as np

In [47]:
DATA_TA=pd.read_csv("Data_gabung _filter 2.csv")

In [12]:
DATA_TA = pd.read_excel("Data_kmedian.xlsx")

In [48]:
DATA_TA

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,...,1,2,2,2,2,2,1,2,2,5
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,...,2,2,2,2,2,2,2,2,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,...,2,2,2,2,2,2,2,2,2,3
60768,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,1,5
60769,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3
60770,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,...,1,1,2,2,2,2,1,2,1,5
60771,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3

In [41]:
print(DATA_TA.dtypes)

KOTA                                 object
Nama Kepala Rumah Tangga (KRT)       object
Jumlah Anggota Rumah Tangga (ART)     int64
Jumlah Keluarga                       int64
Status bangunan tempat tinggal        int64
Status lahan tempat tinggal           int64
Jenis lantai terluas                  int64
Jenis dinding terluas                 int64
Kondisi dinding                       int64
Jenis atap terluas                    int64
Kondisi atap                          int64
Jumlah kamar tidur                    int64
Sumber air minum                      int64
dtype: object

* Mengubah type data ke kategorik

In [24]:
DATA_TA[['Jumlah Anggota Rumah Tangga (ART)','Jumlah Keluarga','Status bangunan tempat tinggal','Status lahan tempat tinggal','Jenis lantai terluas',
         'Jenis dinding terluas','Kondisi dinding','Jenis atap terluas','Kondisi atap','Jumlah kamar tidur','Sumber air minum',
         'Cara memperoleh air minum','Sumber penerangan utama','Daya listrik terpasang','Bahan bakar untuk memasak',
         'Penggunaan fasilitas BAB','Jenis kloset','Tempat pembuangan akhir tinja','Tabung gas 5,5kg atau lebih','Lemari es/kulkas',
         'AC','Pemanas air','Televisi','Emas/perhiasan/tabungan','Komputer','Sepeda','Sepeda motor','Mobil','Perahu','Motor tempel',
         'Perahu motor','Kapal','Aset lahan','Rumah di tempat lain','ART memiliki usaha sendiri/bersama','Status Kesejahteraan']] =DATA_TA[[
            'Jumlah Anggota Rumah Tangga (ART)','Jumlah Keluarga','Status bangunan tempat tinggal','Status lahan tempat tinggal','Jenis lantai terluas',
             'Jenis dinding terluas','Kondisi dinding','Jenis atap terluas','Kondisi atap','Jumlah kamar tidur','Sumber air minum',
             'Cara memperoleh air minum','Sumber penerangan utama','Daya listrik terpasang','Bahan bakar untuk memasak',
             'Penggunaan fasilitas BAB','Jenis kloset','Tempat pembuangan akhir tinja','Tabung gas 5,5kg atau lebih','Lemari es/kulkas',
             'AC','Pemanas air','Televisi','Emas/perhiasan/tabungan','Komputer','Sepeda','Sepeda motor','Mobil','Perahu','Motor tempel',
             'Perahu motor','Kapal','Aset lahan','Rumah di tempat lain','ART memiliki usaha sendiri/bersama','Status Kesejahteraan']].astype('category')

In [25]:
print(DATA_TA.dtypes)

KOTA                                    object
Nama Kepala Rumah Tangga (KRT)          object
Jumlah Anggota Rumah Tangga (ART)     category
Jumlah Keluarga                       category
Status bangunan tempat tinggal        category
Status lahan tempat tinggal           category
Jenis lantai terluas                  category
Jenis dinding terluas                 category
Kondisi dinding                       category
Jenis atap terluas                    category
Kondisi atap                          category
Jumlah kamar tidur                    category
Sumber air minum                      category
Cara memperoleh air minum             category
Sumber penerangan utama               category
Daya listrik terpasang                category
Bahan bakar untuk memasak             category
Penggunaan fasilitas BAB              category
Jenis kloset                          category
Tempat pembuangan akhir tinja         category
Tabung gas 5,5kg atau lebih           category
Lemari es/kulkas                      category
AC                                    category
Pemanas air                           category
Televisi                              category
Emas/perhiasan/tabungan               category
Komputer                              category
Sepeda                                category
Sepeda motor                          category
Mobil                                 category
Perahu                                category
Motor tempel                          category
Perahu motor                          category
Kapal                                 category
Aset lahan                            category
Rumah di tempat lain                  category
ART memiliki usaha sendiri/bersama    category
Status Kesejahteraan                  category
dtype: object

* Mendeteksi data duplikat

In [8]:
duplicate_rows = DATA_TA[DATA_TA.duplicated()]
duplicate_rows

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
2130,KOTA BANDA ACEH,IRWAN SAMIUN,6,2,1,1,2,1,1,3,...,1,2,2,2,2,2,1,2,1,2
5299,KOTA BANDA ACEH,NURAINI,5,2,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,3
23670,KOTA LANGSA,AMINAH,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
26834,KOTA LANGSA,ROHANI,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
27543,KOTA LANGSA,IDRIS,3,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,5
35786,KOTA LHOKSEUMAWE,M KHAIRUL,8,3,1,1,8,3,2,6,...,2,2,2,2,2,2,1,2,1,2
35929,KOTA LHOKSEUMAWE,UMAR ANGKASAH,2,1,1,1,8,3,2,5,...,2,2,2,2,2,2,1,2,2,5
36176,KOTA LHOKSEUMAWE,MUHAMMAD ISA,6,2,2,4,8,3,2,5,...,2,2,2,2,2,2,2,2,2,2
38528,KOTA LHOKSEUMAWE,NAZIR ABDULLAH,5,2,1,1,6,3,2,5,...,2,2,2,2,2,2,1,2,2,3
39050,KOTA LHOKSEUMAWE,HASANUDDIN,3,1,2,4,6,3,2,9,...,1,2,2,2,2,2,2,2,2,3
39109,KOTA LHOKSEUMAWE,A RANI,5,2,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,1,3
39189,KOTA LHOKSEUMAWE,AMNI,5,2,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,1,4
39269,KOTA LHOKSEUMAWE,BAHARUDDIN,5,2,1,1,6,1,2,6,...,2,2,2,2,2,2,1,2,2,3
39424,KOTA LHOKSEUMAWE,MANSYUR,8,3,2,4,9,3,2,9,...,1,2,2,2,2,2,2,2,2,2
39502,KOTA LHOKSEUMAWE,ISKANDAR,5,2,2,4,6,3,2,6,...,1,2,2,2,2,2,2,2,2,3
39571,KOTA LHOKSEUMAWE,ZULFIKAR,4,1,2,4,6,3,2,6,...,2,2,2,2,2,2,2,2,2,4
39621,KOTA LHOKSEUMAWE,IRWAN,3,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,1,5
41714,KOTA LHOKSEUMAWE,ISMAIL,5,2,2,4,6,3,2,6,...,1,2,2,2,2,2,1,2,2,4
42777,KOTA LHOKSEUMAWE,AMINAH,3,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,4
43004,KOTA LHOKSEUMAWE,MARLIAH,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
43292,KOTA LHOKSEUMAWE,RAMLI MAHMUD,3,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,5
44364,KOTA LHOKSEUMAWE,SULAIMAN,3,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,2,4
44430,KOTA LHOKSEUMAWE,SYAMSIAH,6,2,2,4,6,3,2,6,...,2,2,2,2,2,2,2,2,2,2
45044,KOTA LHOKSEUMAWE,SABARIAH,2,1,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,1,5
45564,KOTA LHOKSEUMAWE,SALAMAH NEKMAT,1,1,1,2,8,3,2,9,...,2,2,2,2,2,2,2,2,2,3
45589,KOTA LHOKSEUMAWE,SALAMAH,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
45674,KOTA LHOKSEUMAWE,FATIMAH ZUHRA,4,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,3
46002,KOTA LHOKSEUMAWE,HASANAH,1,1,1,1,6,1,2,6,...,2,2,2,2,2,2,1,2,2,5
58694,KOTA SUBULUSSALAM,SARIPUDIN,5,2,1,1,8,3,2,6,...,2,2,2,2,2,2,1,2,2,1

In [42]:
DATA_TA_CLEAN= DATA_TA.drop_duplicates()
duplicate_rows = DATA_TA_CLEAN[DATA_TA_CLEAN.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [KOTA, Nama Kepala Rumah Tangga (KRT), Jumlah Anggota Rumah Tangga (ART), Jumlah Keluarga, Status bangunan tempat tinggal, Status lahan tempat tinggal, Jenis lantai terluas, Jenis dinding terluas, Kondisi dinding, Jenis atap terluas, Kondisi atap, Jumlah kamar tidur, Sumber air minum]
Index: []

In [43]:
DATA_TA_CLEAN.describe()

,Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,Kondisi atap,Jumlah kamar tidur,Sumber air minum
count,60105.000000,60105.000000,60105.000000,60105.000000,60105.000000,60105.000000,60105.000000,60105.000000,60105.000000,60105.000000,60105.000000
mean,4.116363,1.493503,1.474303,1.996806,5.777822,2.366425,1.760536,6.064737,1.751335,1.716197,4.040729
std,1.865834,0.670584,0.851422,1.333819,1.718265,1.161103,0.426760,0.835091,0.432243,0.452908,2.342597
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,1.000000,1.000000,1.000000,6.000000,1.000000,2.000000,6.000000,2.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,6.000000,3.000000,2.000000,6.000000,2.000000,2.000000,3.000000
75%,5.000000,2.000000,2.000000,4.000000,6.000000,3.000000,2.000000,6.000000,2.000000,2.000000,6.000000
max,14.000000,3.000000,5.000000,4.000000,10.000000,7.000000,2.000000,10.000000,2.000000,3.000000,12.000000

In [44]:
DATA_TA_CLEAN

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,Kondisi atap,Jumlah kamar tidur,Sumber air minum
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,1,2,2
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,2,1,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,1,1,2
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,1,1,2
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,2,2,7
60768,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,2,1,7
60769,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,2,2,7
60770,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,1,2,6
60771,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,2,2,7

In [12]:
MYDATA=DATA_TA_CLEAN

In [45]:
DATA=DATA_TA_CLEAN.drop(["KOTA","Nama Kepala Rumah Tangga (KRT)","Status Kesejahteraan"], axis=1)
DATA

,Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,Kondisi atap,Jumlah kamar tidur,Sumber air minum
0,3,1,1,1,2,1,1,6,1,2,2
1,5,2,1,1,6,1,2,6,2,1,2
2,1,1,1,1,6,1,1,6,1,1,2
3,2,1,1,1,6,1,1,6,1,1,2
4,1,1,2,4,6,1,1,6,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...
60767,3,1,3,4,6,1,2,6,2,2,7
60768,1,1,1,1,6,3,2,6,2,1,7
60769,4,1,1,1,6,3,2,6,2,2,7
60770,3,1,1,1,6,1,1,6,1,2,6
60771,3,1,5,4,6,3,2,6,2,2,7

In [13]:
#Cluster menggunakan KMODES

In [14]:
km=KModes(n_clusters=5, max_iter=1000, init='random')
clusters=km.fit_predict(DATA)
clusters

array([0, 1, 0, ..., 4, 0, 4], dtype=uint16)

In [15]:
print(km.cluster_centroids_)

[[4 1 1 1 6 1 1 6 1 2 2 1 1 4 3 1 1 1 2 1 2 2 1 2 2 2 1 2 2 2 2 2 1 2 2]
 [5 2 1 1 6 3 2 6 2 2 2 1 1 5 3 1 1 1 2 1 2 2 1 2 2 2 1 2 2 2 2 2 1 2 2]
 [3 1 3 4 6 3 2 6 2 1 2 1 1 5 3 1 1 1 2 2 2 2 1 2 2 2 1 2 2 2 2 2 2 2 2]
 [1 1 1 1 6 3 2 6 2 1 7 3 1 5 8 4 4 4 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2]
 [4 1 1 1 6 3 2 6 2 2 6 3 1 5 3 1 1 1 2 2 2 2 1 2 2 2 2 2 2 2 2 2 1 2 2]]

In [16]:
cluster_dict=[]
for c in clusters:
    cluster_dict.append(c)

In [17]:
MYDATA["cluster_kmodes"]=cluster_dict
MYDATA

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan,cluster_kmedian,cluster_kmodes
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,...,2,2,2,2,1,2,2,5,1,0
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,...,2,2,2,2,1,2,2,2,2,1
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,...,2,2,2,2,1,2,1,5,4,0
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,...,2,2,2,2,1,2,1,5,4,0
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,...,2,2,2,2,2,2,2,5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60738,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,...,2,2,2,2,2,2,2,3,3,2
60739,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,...,2,2,2,2,1,2,1,5,4,3
60740,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,...,2,2,2,2,1,2,2,3,3,4
60741,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,...,2,2,2,2,1,2,1,5,4,0
60742,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,...,2,2,2,2,1,2,2,3,3,4

In [18]:
MYDATA.to_excel('MYDATA.xlsx', index=False)

In [3]:
import kmedoids

In [19]:
from sklearn.metrics.pairwise import manhattan_distances
from sklearn.metrics.pairwise import euclidean_distances

In [31]:
sampel=pd.read_excel("sampel2.xlsx")

In [46]:
diss = manhattan_distances(DATA)

MemoryError: Unable to allocate 26.9 GiB for an array with shape (60105, 60105) and data type float64

In [35]:
DATA.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60743 entries, 0 to 60771
Data columns (total 35 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Jumlah Anggota Rumah Tangga (ART)   60743 non-null  category
 1   Jumlah Keluarga                     60743 non-null  category
 2   Status bangunan tempat tinggal      60743 non-null  category
 3   Status lahan tempat tinggal         60743 non-null  category
 4   Jenis lantai terluas                60743 non-null  category
 5   Jenis dinding terluas               60743 non-null  category
 6   Kondisi dinding                     60743 non-null  category
 7   Jenis atap terluas                  60743 non-null  category
 8   Kondisi atap                        60743 non-null  category
 9   Jumlah kamar tidur                  60743 non-null  category
 10  Sumber air minum                    60743 non-null  category
 11  Cara memperoleh air minum           60743 non-null  category
 12  Sumber penerangan utama             60743 non-null  category
 13  Daya listrik terpasang              60743 non-null  category
 14  Bahan bakar untuk memasak           60743 non-null  category
 15  Penggunaan fasilitas BAB            60743 non-null  category
 16  Jenis kloset                        60743 non-null  category
 17  Tempat pembuangan akhir tinja       60743 non-null  category
 18  Tabung gas 5,5kg atau lebih         60743 non-null  category
 19  Lemari es/kulkas                    60743 non-null  category
 20  AC                                  60743 non-null  category
 21  Pemanas air                         60743 non-null  category
 22  Televisi                            60743 non-null  category
 23  Emas/perhiasan/tabungan             60743 non-null  category
 24  Komputer                            60743 non-null  category
 25  Sepeda                              60743 non-null  category
 26  Sepeda motor                        60743 non-null  category
 27  Mobil                               60743 non-null  category
 28  Perahu                              60743 non-null  category
 29  Motor tempel                        60743 non-null  category
 30  Perahu motor                        60743 non-null  category
 31  Kapal                               60743 non-null  category
 32  Aset lahan                          60743 non-null  category
 33  Rumah di tempat lain                60743 non-null  category
 34  ART memiliki usaha sendiri/bersama  60743 non-null  category
dtypes: category(35)
memory usage: 2.5 MB

In [38]:
euclidean_distances(DATA).info(memory_usage="deep")

MemoryError: Unable to allocate 27.5 GiB for an array with shape (60743, 60743) and data type float64

In [2]:
class sklearn_extra.cluster.KMedoids(n_clusters=8, metric='euclidean', method='alternate', init='heuristic', max_iter=300, random_state=None)

SyntaxError: invalid syntax (3074810529.py, line 1)

In [9]:
import numpy as np
import random

# Calculate Manhattan distance
def manhattan_distance(point1, point2):
    return np.sum(np.abs(point1 - point2))

# Assign clusters to each data point based on their closest medoid
def assign_clusters(data, medoids):
    num_samples = data.shape[0]
    num_clusters = len(medoids)
    cluster_assignments = np.zeros(num_samples)
    
    for i in range(num_samples):
        distances = []
        for j in range(num_clusters):
            distances.append(manhattan_distance(data[i], medoids[j]))
        cluster_assignments[i] = np.argmin(distances)
    return cluster_assignments

# Calculate new medoids by selecting the data point that has the smallest average Manhattan distance to all other data points in the same cluster
def update_medoids(data, cluster_assignments, num_clusters):
    new_medoids = []
    
    for i in range(num_clusters):
        cluster_points = data[cluster_assignments == i]
        distances = []
        for j in range(cluster_points.shape[0]):
            distances.append(np.sum(np.minimum(manhattan_distance(cluster_points[j], data), manhattan_distance(cluster_points[j], new_medoids)) for data in cluster_points))
        new_medoids.append(cluster_points[np.argmin(distances)])
    return np.array(new_medoids)

# Initialize the k-medoids algorithm
def initialize_medoids(data, num_clusters):
    return random.sample(list(data), num_clusters)

# k-medoids clustering algorithm
def k_medoids(data, num_clusters, num_iterations):
    medoids

In [38]:
class sklearn_extra.cluster.KMedoids(n_clusters=8, metric='euclidean', method='alternate', init='heuristic', max_iter=300, random_state=None)

SyntaxError: invalid syntax (3074810529.py, line 1)

In [39]:
from sklearn.cluster import KMedoids
import numpy as np
KMedoids(n_clusters=5, metric='manhattan', method='pam',init='random', max_iter=100, random_state=none).fit(DATA)

ImportError: cannot import name 'KMedoids' from 'sklearn.cluster' (C:\Users\Alharidt\AppData\Roaming\Python\Python311\site-packages\sklearn\cluster\__init__.py)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: KMedoids in c:\users\alharidt\appdata\roaming\python\python311\site-packages (0.4.3)

DEPRECATION: Loading egg at c:\program files\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
DEPRECATION: celery 5.0.5 has a non-standard dependency specifier pytz>dev. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of celery or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063