In [3]:
import pandas as pd

In [21]:
DATA_TA = pd.read_excel("DATA_CLEAN.xlsx")

In [22]:
DATA_TA

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,...,1,2,2,2,2,2,1,2,2,4+
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,4+
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,4+
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,...,2,2,2,2,2,2,2,2,2,4+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60738,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,...,2,2,2,2,2,2,2,2,2,3
60739,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,1,4+
60740,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3
60741,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,...,1,1,2,2,2,2,1,2,1,4+
60742,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3

In [35]:
print(DATA_TA.dtypes)

KOTA                                    object
Nama Kepala Rumah Tangga (KRT)          object
Jumlah Anggota Rumah Tangga (ART)     category
Jumlah Keluarga                       category
Status bangunan tempat tinggal        category
Status lahan tempat tinggal           category
Jenis lantai terluas                  category
Jenis dinding terluas                 category
Kondisi dinding                       category
Jenis atap terluas                    category
Kondisi atap                          category
Jumlah kamar tidur                    category
Sumber air minum                      category
Cara memperoleh air minum             category
Sumber penerangan utama               category
Daya listrik terpasang                category
Bahan bakar untuk memasak                int64
Penggunaan fasilitas BAB                 int64
Jenis kloset                             int64
Tempat pembuangan akhir tinja            int64
Tabung gas 5,5kg atau lebih              int64
Lemari es/kulkas                         int64
AC                                       int64
Pemanas air                              int64
Televisi                                 int64
Emas/perhiasan/tabungan                  int64
Komputer                                 int64
Sepeda                                   int64
Sepeda motor                             int64
Mobil                                    int64
Perahu                                   int64
Motor tempel                             int64
Perahu motor                             int64
Kapal                                    int64
Aset lahan                               int64
Rumah di tempat lain                     int64
ART memiliki usaha sendiri/bersama       int64
Status Kesejahteraan                    object
dtype: object

In [34]:
DATA_TA[['Kondisi atap','Jumlah kamar tidur','Sumber air minum','Cara memperoleh air minum','Sumber penerangan utama','Daya listrik terpasang']] = 
DATA_TA[['Kondisi atap','Jumlah kamar tidur','Sumber air minum','Cara memperoleh air minum','Sumber penerangan utama','Daya listrik terpasang']].astype('category')

SyntaxError: invalid syntax (1451093879.py, line 1)

In [36]:
duplicate_rows = DATA_TA[DATA_TA.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [KOTA, Nama Kepala Rumah Tangga (KRT), Jumlah Anggota Rumah Tangga (ART), Jumlah Keluarga, Status bangunan tempat tinggal, Status lahan tempat tinggal, Jenis lantai terluas, Jenis dinding terluas, Kondisi dinding, Jenis atap terluas, Kondisi atap, Jumlah kamar tidur, Sumber air minum, Cara memperoleh air minum, Sumber penerangan utama, Daya listrik terpasang, Bahan bakar untuk memasak, Penggunaan fasilitas BAB, Jenis kloset, Tempat pembuangan akhir tinja, Tabung gas 5,5kg atau lebih, Lemari es/kulkas, AC, Pemanas air, Televisi, Emas/perhiasan/tabungan, Komputer, Sepeda, Sepeda motor, Mobil, Perahu, Motor tempel, Perahu motor, Kapal, Aset lahan, Rumah di tempat lain, ART memiliki usaha sendiri/bersama, Status Kesejahteraan]
Index: []

[0 rows x 38 columns]

In [37]:
print(DATA_TA.dtypes)

KOTA                                    object
Nama Kepala Rumah Tangga (KRT)          object
Jumlah Anggota Rumah Tangga (ART)     category
Jumlah Keluarga                       category
Status bangunan tempat tinggal        category
Status lahan tempat tinggal           category
Jenis lantai terluas                  category
Jenis dinding terluas                 category
Kondisi dinding                       category
Jenis atap terluas                    category
Kondisi atap                          category
Jumlah kamar tidur                    category
Sumber air minum                      category
Cara memperoleh air minum             category
Sumber penerangan utama               category
Daya listrik terpasang                category
Bahan bakar untuk memasak                int64
Penggunaan fasilitas BAB                 int64
Jenis kloset                             int64
Tempat pembuangan akhir tinja            int64
Tabung gas 5,5kg atau lebih              int64
Lemari es/kulkas                         int64
AC                                       int64
Pemanas air                              int64
Televisi                                 int64
Emas/perhiasan/tabungan                  int64
Komputer                                 int64
Sepeda                                   int64
Sepeda motor                             int64
Mobil                                    int64
Perahu                                   int64
Motor tempel                             int64
Perahu motor                             int64
Kapal                                    int64
Aset lahan                               int64
Rumah di tempat lain                     int64
ART memiliki usaha sendiri/bersama       int64
Status Kesejahteraan                    object
dtype: object