* Memanggil Dataset

In [1]:
import pandas as pd
from kmodes.kmodes import KModes
import numpy as np

In [2]:
DATA_TA=pd.read_csv("Data_gabung _filter 2.csv")

In [3]:
DATA_TA

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,...,1,2,2,2,2,2,1,2,2,5
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,...,2,2,2,2,2,2,2,2,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,...,2,2,2,2,2,2,2,2,2,3
60768,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,1,5
60769,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3
60770,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,...,1,1,2,2,2,2,1,2,1,5
60771,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3

In [4]:
print(DATA_TA.dtypes)

KOTA                                  object
Nama Kepala Rumah Tangga (KRT)        object
Jumlah Anggota Rumah Tangga (ART)      int64
Jumlah Keluarga                        int64
Status bangunan tempat tinggal         int64
Status lahan tempat tinggal            int64
Jenis lantai terluas                   int64
Jenis dinding terluas                  int64
Kondisi dinding                        int64
Jenis atap terluas                     int64
Kondisi atap                           int64
Jumlah kamar tidur                     int64
Sumber air minum                       int64
Cara memperoleh air minum              int64
Sumber penerangan utama                int64
Daya listrik terpasang                 int64
Bahan bakar untuk memasak              int64
Penggunaan fasilitas BAB               int64
Jenis kloset                           int64
Tempat pembuangan akhir tinja          int64
Tabung gas 5,5kg atau lebih            int64
Lemari es/kulkas                       int64
AC                                     int64
Pemanas air                            int64
Televisi                               int64
Emas/perhiasan/tabungan                int64
Komputer                               int64
Sepeda                                 int64
Sepeda motor                           int64
Mobil                                  int64
Perahu                                 int64
Motor tempel                           int64
Perahu motor                           int64
Kapal                                  int64
Aset lahan                             int64
Rumah di tempat lain                   int64
ART memiliki usaha sendiri/bersama     int64
Status Kesejahteraan                   int64
dtype: object

* Mengubah type data ke kategorik

In [5]:
DATA_TA[['Jumlah Anggota Rumah Tangga (ART)','Jumlah Keluarga','Status bangunan tempat tinggal','Status lahan tempat tinggal','Jenis lantai terluas',
         'Jenis dinding terluas','Kondisi dinding','Jenis atap terluas','Kondisi atap','Jumlah kamar tidur','Sumber air minum',
         'Cara memperoleh air minum','Sumber penerangan utama','Daya listrik terpasang','Bahan bakar untuk memasak',
         'Penggunaan fasilitas BAB','Jenis kloset','Tempat pembuangan akhir tinja','Tabung gas 5,5kg atau lebih','Lemari es/kulkas',
         'AC','Pemanas air','Televisi','Emas/perhiasan/tabungan','Komputer','Sepeda','Sepeda motor','Mobil','Perahu','Motor tempel',
         'Perahu motor','Kapal','Aset lahan','Rumah di tempat lain','ART memiliki usaha sendiri/bersama','Status Kesejahteraan']] =DATA_TA[[
            'Jumlah Anggota Rumah Tangga (ART)','Jumlah Keluarga','Status bangunan tempat tinggal','Status lahan tempat tinggal','Jenis lantai terluas',
             'Jenis dinding terluas','Kondisi dinding','Jenis atap terluas','Kondisi atap','Jumlah kamar tidur','Sumber air minum',
             'Cara memperoleh air minum','Sumber penerangan utama','Daya listrik terpasang','Bahan bakar untuk memasak',
             'Penggunaan fasilitas BAB','Jenis kloset','Tempat pembuangan akhir tinja','Tabung gas 5,5kg atau lebih','Lemari es/kulkas',
             'AC','Pemanas air','Televisi','Emas/perhiasan/tabungan','Komputer','Sepeda','Sepeda motor','Mobil','Perahu','Motor tempel',
             'Perahu motor','Kapal','Aset lahan','Rumah di tempat lain','ART memiliki usaha sendiri/bersama','Status Kesejahteraan']].astype('category')

In [6]:
print(DATA_TA.dtypes)

KOTA                                    object
Nama Kepala Rumah Tangga (KRT)          object
Jumlah Anggota Rumah Tangga (ART)     category
Jumlah Keluarga                       category
Status bangunan tempat tinggal        category
Status lahan tempat tinggal           category
Jenis lantai terluas                  category
Jenis dinding terluas                 category
Kondisi dinding                       category
Jenis atap terluas                    category
Kondisi atap                          category
Jumlah kamar tidur                    category
Sumber air minum                      category
Cara memperoleh air minum             category
Sumber penerangan utama               category
Daya listrik terpasang                category
Bahan bakar untuk memasak             category
Penggunaan fasilitas BAB              category
Jenis kloset                          category
Tempat pembuangan akhir tinja         category
Tabung gas 5,5kg atau lebih           category
Lemari es/kulkas                      category
AC                                    category
Pemanas air                           category
Televisi                              category
Emas/perhiasan/tabungan               category
Komputer                              category
Sepeda                                category
Sepeda motor                          category
Mobil                                 category
Perahu                                category
Motor tempel                          category
Perahu motor                          category
Kapal                                 category
Aset lahan                            category
Rumah di tempat lain                  category
ART memiliki usaha sendiri/bersama    category
Status Kesejahteraan                  category
dtype: object

* Mendeteksi data duplikat

In [7]:
duplicate_rows = DATA_TA[DATA_TA.duplicated()]
duplicate_rows

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
2130,KOTA BANDA ACEH,IRWAN SAMIUN,6,2,1,1,2,1,1,3,...,1,2,2,2,2,2,1,2,1,2
5299,KOTA BANDA ACEH,NURAINI,5,2,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,3
23670,KOTA LANGSA,AMINAH,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
26834,KOTA LANGSA,ROHANI,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
27543,KOTA LANGSA,IDRIS,3,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,5
35786,KOTA LHOKSEUMAWE,M KHAIRUL,8,3,1,1,8,3,2,6,...,2,2,2,2,2,2,1,2,1,2
35929,KOTA LHOKSEUMAWE,UMAR ANGKASAH,2,1,1,1,8,3,2,5,...,2,2,2,2,2,2,1,2,2,5
36176,KOTA LHOKSEUMAWE,MUHAMMAD ISA,6,2,2,4,8,3,2,5,...,2,2,2,2,2,2,2,2,2,2
38528,KOTA LHOKSEUMAWE,NAZIR ABDULLAH,5,2,1,1,6,3,2,5,...,2,2,2,2,2,2,1,2,2,3
39050,KOTA LHOKSEUMAWE,HASANUDDIN,3,1,2,4,6,3,2,9,...,1,2,2,2,2,2,2,2,2,3
39109,KOTA LHOKSEUMAWE,A RANI,5,2,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,1,3
39189,KOTA LHOKSEUMAWE,AMNI,5,2,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,1,4
39269,KOTA LHOKSEUMAWE,BAHARUDDIN,5,2,1,1,6,1,2,6,...,2,2,2,2,2,2,1,2,2,3
39424,KOTA LHOKSEUMAWE,MANSYUR,8,3,2,4,9,3,2,9,...,1,2,2,2,2,2,2,2,2,2
39502,KOTA LHOKSEUMAWE,ISKANDAR,5,2,2,4,6,3,2,6,...,1,2,2,2,2,2,2,2,2,3
39571,KOTA LHOKSEUMAWE,ZULFIKAR,4,1,2,4,6,3,2,6,...,2,2,2,2,2,2,2,2,2,4
39621,KOTA LHOKSEUMAWE,IRWAN,3,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,1,5
41714,KOTA LHOKSEUMAWE,ISMAIL,5,2,2,4,6,3,2,6,...,1,2,2,2,2,2,1,2,2,4
42777,KOTA LHOKSEUMAWE,AMINAH,3,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,4
43004,KOTA LHOKSEUMAWE,MARLIAH,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
43292,KOTA LHOKSEUMAWE,RAMLI MAHMUD,3,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,5
44364,KOTA LHOKSEUMAWE,SULAIMAN,3,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,2,4
44430,KOTA LHOKSEUMAWE,SYAMSIAH,6,2,2,4,6,3,2,6,...,2,2,2,2,2,2,2,2,2,2
45044,KOTA LHOKSEUMAWE,SABARIAH,2,1,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,1,5
45564,KOTA LHOKSEUMAWE,SALAMAH NEKMAT,1,1,1,2,8,3,2,9,...,2,2,2,2,2,2,2,2,2,3
45589,KOTA LHOKSEUMAWE,SALAMAH,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,5
45674,KOTA LHOKSEUMAWE,FATIMAH ZUHRA,4,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,3
46002,KOTA LHOKSEUMAWE,HASANAH,1,1,1,1,6,1,2,6,...,2,2,2,2,2,2,1,2,2,5
58694,KOTA SUBULUSSALAM,SARIPUDIN,5,2,1,1,8,3,2,6,...,2,2,2,2,2,2,1,2,2,1

In [8]:
DATA_TA_CLEAN= DATA_TA.drop_duplicates()
duplicate_rows = DATA_TA_CLEAN[DATA_TA_CLEAN.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [KOTA, Nama Kepala Rumah Tangga (KRT), Jumlah Anggota Rumah Tangga (ART), Jumlah Keluarga, Status bangunan tempat tinggal, Status lahan tempat tinggal, Jenis lantai terluas, Jenis dinding terluas, Kondisi dinding, Jenis atap terluas, Kondisi atap, Jumlah kamar tidur, Sumber air minum, Cara memperoleh air minum, Sumber penerangan utama, Daya listrik terpasang, Bahan bakar untuk memasak, Penggunaan fasilitas BAB, Jenis kloset, Tempat pembuangan akhir tinja, Tabung gas 5,5kg atau lebih, Lemari es/kulkas, AC, Pemanas air, Televisi, Emas/perhiasan/tabungan, Komputer, Sepeda, Sepeda motor, Mobil, Perahu, Motor tempel, Perahu motor, Kapal, Aset lahan, Rumah di tempat lain, ART memiliki usaha sendiri/bersama, Status Kesejahteraan]
Index: []

[0 rows x 38 columns]

In [9]:
DATA_TA_CLEAN.describe()

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
count,60743,60743,60743,60743,60743,60743,60743,60743,60743,60743,...,60743,60743,60743,60743,60743,60743,60743,60743,60743,60743
unique,5,32865,14,3,5,4,10,7,2,10,...,2,2,2,2,2,2,2,2,2,5
top,KOTA LANGSA,ZULKIFLI,4,1,1,1,6,3,2,6,...,1,2,2,2,2,2,1,2,2,5
freq,17875,228,13752,36848,44390,37188,41207,36429,46180,54275,...,37952,59844,60142,60318,60102,60697,41028,59749,38183,21126

In [10]:
DATA_TA_CLEAN

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,...,1,2,2,2,2,2,1,2,2,5
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,...,2,2,2,2,2,2,2,2,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,...,2,2,2,2,2,2,2,2,2,3
60768,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,1,5
60769,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3
60770,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,...,1,1,2,2,2,2,1,2,1,5
60771,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3

In [11]:
MYDATA=DATA_TA_CLEAN

In [12]:
DATA=DATA_TA_CLEAN.drop(["KOTA","Nama Kepala Rumah Tangga (KRT)","Status Kesejahteraan"], axis=1)
DATA

,Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,Kondisi atap,Jumlah kamar tidur,...,Sepeda,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama
0,3,1,1,1,2,1,1,6,1,2,...,2,1,2,2,2,2,2,1,2,2
1,5,2,1,1,6,1,2,6,2,1,...,1,1,2,2,2,2,2,1,2,2
2,1,1,1,1,6,1,1,6,1,1,...,2,1,2,2,2,2,2,1,2,1
3,2,1,1,1,6,1,1,6,1,1,...,2,1,2,2,2,2,2,1,2,1
4,1,1,2,4,6,1,1,6,1,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,3,1,3,4,6,1,2,6,2,2,...,2,2,2,2,2,2,2,2,2,2
60768,1,1,1,1,6,3,2,6,2,1,...,2,2,2,2,2,2,2,1,2,1
60769,4,1,1,1,6,3,2,6,2,2,...,2,2,2,2,2,2,2,1,2,2
60770,3,1,1,1,6,1,1,6,1,2,...,2,1,1,2,2,2,2,1,2,1
60771,3,1,5,4,6,3,2,6,2,2,...,2,2,2,2,2,2,2,1,2,2

In [13]:
#Cluster menggunakan KMODES

In [14]:
km=KModes(n_clusters=5, max_iter=1000, init='random')
clusters=km.fit_predict(DATA)
clusters

array([0, 1, 0, ..., 4, 0, 4], dtype=uint16)

In [15]:
print(km.cluster_centroids_)

[[4 1 1 1 6 1 1 6 1 2 2 1 1 4 3 1 1 1 2 1 2 2 1 2 2 2 1 2 2 2 2 2 1 2 2]
 [5 2 1 1 6 3 2 6 2 2 2 1 1 5 3 1 1 1 2 1 2 2 1 2 2 2 1 2 2 2 2 2 1 2 2]
 [3 1 3 4 6 3 2 6 2 1 2 1 1 5 3 1 1 1 2 2 2 2 1 2 2 2 1 2 2 2 2 2 2 2 2]
 [1 1 1 1 6 3 2 6 2 1 7 3 1 5 8 4 4 4 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2]
 [4 1 1 1 6 3 2 6 2 2 6 3 1 5 3 1 1 1 2 2 2 2 1 2 2 2 2 2 2 2 2 2 1 2 2]]

In [16]:
cluster_dict=[]
for c in clusters:
    cluster_dict.append(c)

In [17]:
MYDATA["cluster_kmodes"]=cluster_dict
MYDATA

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan,cluster_kmedian,cluster_kmodes
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,...,2,2,2,2,1,2,2,5,1,0
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,...,2,2,2,2,1,2,2,2,2,1
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,...,2,2,2,2,1,2,1,5,4,0
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,...,2,2,2,2,1,2,1,5,4,0
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,...,2,2,2,2,2,2,2,5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60738,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,...,2,2,2,2,2,2,2,3,3,2
60739,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,...,2,2,2,2,1,2,1,5,4,3
60740,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,...,2,2,2,2,1,2,2,3,3,4
60741,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,...,2,2,2,2,1,2,1,5,4,0
60742,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,...,2,2,2,2,1,2,2,3,3,4

In [18]:
MYDATA.to_excel('MYDATA.xlsx', index=False)

In [19]:
import kmedoids

In [20]:
from sklearn.metrics.pairwise import manhattan_distances

In [21]:
sampel=pd.read_excel("sampel2.xlsx")

In [25]:
diss = manhattan_distances(DATA)

MemoryError: Unable to allocate 27.5 GiB for an array with shape (60743, 60743) and data type float64

In [22]:
import numpy as np
import random

# Calculate Manhattan distance
def manhattan_distance(point1, point2):
    return np.sum(np.abs(point1 - point2))

# Assign clusters to each data point based on their closest medoid
def assign_clusters(data, medoids):
    num_samples = data.shape[0]
    num_clusters = len(medoids)
    cluster_assignments = np.zeros(num_samples)
    
    for i in range(num_samples):
        distances = []
        for j in range(num_clusters):
            distances.append(manhattan_distance(data[i], medoids[j]))
        cluster_assignments[i] = np.argmin(distances)
    return cluster_assignments

# Calculate new medoids by selecting the data point that has the smallest average Manhattan distance to all other data points in the same cluster
def update_medoids(data, cluster_assignments, num_clusters):
    new_medoids = []
    
    for i in range(num_clusters):
        cluster_points = data[cluster_assignments == i]
        distances = []
        for j in range(cluster_points.shape[0]):
            distances.append(np.sum(np.minimum(manhattan_distance(cluster_points[j], data), manhattan_distance(cluster_points[j], new_medoids)) for data in cluster_points))
        new_medoids.append(cluster_points[np.argmin(distances)])
    return np.array(new_medoids)

# Initialize the k-medoids algorithm
def initialize_medoids(data, num_clusters):
    return random.sample(list(data), num_clusters)

# k-medoids clustering algorithm
def k_medoids(data, num_clusters, num_iterations):
    medoids

In [24]:
kmedoids.fasterpam(diss, 5, max_iter=100, init='random', random_state=None, n_cpu=-1)

KMedoidsResult(loss=896.0, labels=[2 0 4 0 3 0 1 2 0 2 0 3 0 3 3 3 0 2 2 0 2 2 0 0 2 1 2 0 3 3 3 0 1 1 1 0 0
 2 0 0 1 3 0 2 0 2 0 0 4 0 1 2 2 4 2 0 4 0 2 2 2 2 1 2 2 0 2 1 1 0 0 1 2 2
 0 2 3 3 2 4 2 0 3 2 3 2 2 2 0 1 0 2 1 1 0 1 0 1 0 3 1 1 1 0 2 3 2 0 1 2 2
 3 0 2 4 0 4 1 2 2 0 2 2 3 4 2 1 2 0 0 2 2 4 1 2 1 4 2 2 3 2 1 2 4 0 2 3 0
 1 2 2 3 3 2 2 3 2 0 3 0 2 0 1 2 4 2 0 1 2 0 1 0 2 0 3 2 2 2 2 2 0 0 1 0 2
 4 0 2 3 0 2 0 0 3 2 3 1 0 2], medoids=[ 16  71 137 193 114], n_iter=2, n_swaps=19)

In [26]:
diss.info()

AttributeError: 'numpy.ndarray' object has no attribute 'info'