In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Data_gabung _filter 2.csv")

In [3]:
data

,KOTA,Nama Kepala Rumah Tangga (KRT),Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,...,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama,Status Kesejahteraan
0,KOTA BANDA ACEH,WAHYU HIDAYAT,3,1,1,1,2,1,1,6,...,1,2,2,2,2,2,1,2,2,5
1,KOTA BANDA ACEH,MUCHRI,5,2,1,1,6,1,2,6,...,1,2,2,2,2,2,1,2,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
3,KOTA BANDA ACEH,EFENDI,2,1,1,1,6,1,1,6,...,1,2,2,2,2,2,1,2,1,5
4,KOTA BANDA ACEH,FARIDAHWATI,1,1,2,4,6,1,1,6,...,2,2,2,2,2,2,2,2,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,KOTA SUBULUSSALAM,DANI SAPUTERA,3,1,3,4,6,1,2,6,...,2,2,2,2,2,2,2,2,2,3
60768,KOTA SUBULUSSALAM,SULASTRI,1,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,1,5
60769,KOTA SUBULUSSALAM,KARDA,4,1,1,1,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3
60770,KOTA SUBULUSSALAM,SUWARSONO,3,1,1,1,6,1,1,6,...,1,1,2,2,2,2,1,2,1,5
60771,KOTA SUBULUSSALAM,PURNOMO,3,1,5,4,6,3,2,6,...,2,2,2,2,2,2,1,2,2,3

In [4]:
DATA=data.drop(["KOTA","Nama Kepala Rumah Tangga (KRT)","Status Kesejahteraan"], axis=1)
DATA

,Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,Kondisi atap,Jumlah kamar tidur,...,Sepeda,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama
0,3,1,1,1,2,1,1,6,1,2,...,2,1,2,2,2,2,2,1,2,2
1,5,2,1,1,6,1,2,6,2,1,...,1,1,2,2,2,2,2,1,2,2
2,1,1,1,1,6,1,1,6,1,1,...,2,1,2,2,2,2,2,1,2,1
3,2,1,1,1,6,1,1,6,1,1,...,2,1,2,2,2,2,2,1,2,1
4,1,1,2,4,6,1,1,6,1,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,3,1,3,4,6,1,2,6,2,2,...,2,2,2,2,2,2,2,2,2,2
60768,1,1,1,1,6,3,2,6,2,1,...,2,2,2,2,2,2,2,1,2,1
60769,4,1,1,1,6,3,2,6,2,2,...,2,2,2,2,2,2,2,1,2,2
60770,3,1,1,1,6,1,1,6,1,2,...,2,1,1,2,2,2,2,1,2,1
60771,3,1,5,4,6,3,2,6,2,2,...,2,2,2,2,2,2,2,1,2,2

In [27]:
from scipy.cluster.vq import KMedians
import numpy as np

ImportError: cannot import name 'KMedians' from 'scipy.cluster.vq' (C:\Users\Alharidt\AppData\Roaming\Python\Python311\site-packages\scipy\cluster\vq.py)

In [17]:

# Create k-medians algorithm instance.
centroids, _ = kmedians(DATA, 2)

print(centroids)

NameError: name 'kmedians' is not defined