In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("DATA_TA.csv")

In [3]:
data

,index,X1,X15,X10,X13,X4,X14,X19,X11,X16,X5,X26,Y,cluster_kmodes,cluster_kmedoids
0,1,1,1,2,4,2,3,1,1,1,1,1,5,5,5
1,2,2,1,2,4,6,3,1,1,1,1,1,2,5,4
2,3,1,1,2,4,6,9,2,1,1,1,1,5,5,4
3,4,1,1,2,4,6,2,2,1,1,1,1,5,5,4
4,5,1,1,3,4,6,3,2,2,1,1,2,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60739,60740,1,1,7,6,6,8,2,3,3,1,2,3,3,1
60740,60741,1,1,7,4,6,3,2,3,1,3,2,5,3,2
60741,60742,1,1,7,4,6,8,1,3,3,3,2,3,3,1
60742,60743,1,1,6,4,6,3,1,3,1,1,1,5,5,2
60743,60744,1,1,7,5,6,8,2,3,1,3,2,3,3,1

In [5]:
data_kmodes = data[['index','X1', 'X15', 'X10', 'X13', 'X4', 'X14', 'X19', 'X11', 'X16', 'X5', 'X26', 'Y','cluster_kmodes']]
K_1_2 = data_kmodes[(data_kmodes['Y'] == 1) & (data_kmodes['cluster_kmodes'] == 2)]
K_1_3 = data_kmodes[(data_kmodes['Y'] == 1) & (data_kmodes['cluster_kmodes'] == 3)]
K_1_4 = data_kmodes[(data_kmodes['Y'] == 1) & (data_kmodes['cluster_kmodes'] == 4)]
K_1_5 = data_kmodes[(data_kmodes['Y'] == 1) & (data_kmodes['cluster_kmodes'] == 5)]

K_2_1 = data_kmodes[(data_kmodes['Y'] == 2) & (data_kmodes['cluster_kmodes'] == 1)]
K_2_3 = data_kmodes[(data_kmodes['Y'] == 2) & (data_kmodes['cluster_kmodes'] == 3)]
K_2_4 = data_kmodes[(data_kmodes['Y'] == 2) & (data_kmodes['cluster_kmodes'] == 4)]
K_2_5 = data_kmodes[(data_kmodes['Y'] == 2) & (data_kmodes['cluster_kmodes'] == 5)]

K_3_1 = data_kmodes[(data_kmodes['Y'] == 3) & (data_kmodes['cluster_kmodes'] == 1)]
K_3_2 = data_kmodes[(data_kmodes['Y'] == 3) & (data_kmodes['cluster_kmodes'] == 2)]
K_3_4 = data_kmodes[(data_kmodes['Y'] == 3) & (data_kmodes['cluster_kmodes'] == 4)]
K_3_5 = data_kmodes[(data_kmodes['Y'] == 3) & (data_kmodes['cluster_kmodes'] == 5)]

K_4_1 = data_kmodes[(data_kmodes['Y'] == 4) & (data_kmodes['cluster_kmodes'] == 1)]
K_4_2 = data_kmodes[(data_kmodes['Y'] == 4) & (data_kmodes['cluster_kmodes'] == 2)]
K_4_3 = data_kmodes[(data_kmodes['Y'] == 4) & (data_kmodes['cluster_kmodes'] == 3)]
K_4_5 = data_kmodes[(data_kmodes['Y'] == 4) & (data_kmodes['cluster_kmodes'] == 5)]

K_5_1 = data_kmodes[(data_kmodes['Y'] == 5) & (data_kmodes['cluster_kmodes'] == 1)]
K_5_2 = data_kmodes[(data_kmodes['Y'] == 5) & (data_kmodes['cluster_kmodes'] == 2)]
K_5_3 = data_kmodes[(data_kmodes['Y'] == 5) & (data_kmodes['cluster_kmodes'] == 3)]
K_5_4 = data_kmodes[(data_kmodes['Y'] == 5) & (data_kmodes['cluster_kmodes'] == 4)]

In [6]:
centers = np.array([2,1,2,5,6,3,2,3,1,3,2])

In [7]:
centers

array([2, 1, 2, 5, 6, 3, 2, 3, 1, 3, 2])

In [10]:
# convert numeric data to binary
df_binary = np.array(K_1_2[["X1","X15","X10","X13","X4","X14","X19","X11","X16","X5","X26"]] ) #> 0, 1, 0
centers_binary = np.array(centers)
df_binary
# calculate Hamming distance
hamming_distances = [hamming_distance(row, center) for row, center in zip(df_binary, centers_binary)]

# add the Hamming distances as a new column to the dataframe
# K_1_2['hamming_distance'] = hamming_distances

NameError: name 'hamming_distance' is not defined