In [1]:
import kmedoids

In [2]:
from sklearn.metrics import pairwise_distances
import numpy as np
import pandas as pd

In [3]:
# generate some random data
dataku=pd.read_csv("Dataclean.csv")
dataku

,Kabupaten/Kota,Nama Kepala Rumah Tangga,X1,X2,X3,X4,X5,X6,X7,X8,...,X26,X27,X28,X29,X30,X31,X32,X33,X34,Y
0,KOTA BANDA ACEH,WAHYU HIDAYAT,1,1,1,2,1,1,6,1,...,1,2,2,2,2,2,1,4,2,5
1,KOTA BANDA ACEH,MUCHRI,2,1,1,6,1,2,6,2,...,1,2,2,2,2,2,1,4,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,6,1,1,6,1,...,1,2,2,2,2,2,1,4,1,5
3,KOTA BANDA ACEH,EFENDI,1,1,1,6,1,1,6,1,...,1,2,2,2,2,2,1,4,1,5
4,KOTA BANDA ACEH,FARIDAHWATI,1,2,4,6,1,1,6,1,...,2,2,2,2,2,2,2,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60744,KOTA SUBULUSSALAM,DANI SAPUTERA,1,3,4,6,1,2,6,2,...,2,2,2,2,2,2,2,4,2,3
60745,KOTA SUBULUSSALAM,SULASTRI,1,1,1,6,3,2,6,2,...,2,2,2,2,2,2,1,4,1,5
60746,KOTA SUBULUSSALAM,KARDA,1,1,1,6,3,2,6,2,...,2,2,2,2,2,2,1,4,2,3
60747,KOTA SUBULUSSALAM,SUWARSONO,1,1,1,6,1,1,6,1,...,1,1,2,2,2,2,1,4,1,5
60748,KOTA SUBULUSSALAM,PURNOMO,1,5,4,6,3,2,6,2,...,2,2,2,2,2,2,1,4,2,3

In [5]:
dataku
dataku=dataku.drop(["Kabupaten/Kota","Nama Kepala Rumah Tangga","Y"], axis=1)
dataku

KeyError: "['Nama Kepala Rumah Tangga'] not found in axis"

In [ ]:

# create a KMedoids object with 5 clusters
kmedoids = kmedoids(n_clusters=5, metric='manhattan')

In [ ]:
# fit the model to the data
kmedoids.fit(data)

In [ ]:
# view the cluster labels
print(kmedoids.labels_)

# view the medoids
print(kmedoids.medoids_)